@font-face{
    font-family: 'MavenPro-Regular';
    src: url(../assets/fonts/MavenPro-Regular.ttf);
}

@font-face{
    font-family: 'Recoleta-Regular';
    src: url(../assets/fonts/Recoleta-Regular.ttf);
}


@font-face{
    font-family: 'AngryBirds-Regular';
    src: url(../assets/fonts/AngryBirds-Regular.ttf);
}
